<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aks.cateringinfosys.mappers.CommentMapper">
    <insert id="insertLike"></insert>
    <insert id="addLike"></insert>
    <insert id="insertComment"></insert>
    <update id="subLikeNum"></update>
    <delete id="deleteLike"></delete>
    <delete id="deleteCommentById"></delete>
    <select id="queryCommentListByRestId" resultType="com.aks.cateringinfosys.entry.Comment"></select>
    <select id="queryLike" resultType="java.lang.Integer"></select>
    <select id="queryCommentListByUserId" resultType="com.aks.cateringinfosys.entry.Comment"></select>
</mapper>