<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aks.cateringinfosys.mappers.OrderMapper">
    <insert id="insertOrder">
        INSERT INTO TB_COUPON_ORDER values (#{couponOrder},#{orderCouId},#{orderUserId},#{restName},#{beginTime},#{endTime},#{createTime},#{couponName})
    </insert>
    <select id="queryOrderListByUserId" resultType="com.aks.cateringinfosys.entry.Order">
        SELECT * FROM TB_COUPON_ORDER WHERE ORDERUSERID=#{id}
    </select>
    <select id="queryOrderListByRestId" resultType="com.aks.cateringinfosys.entry.Order">
        SELECT TB_COUPON_ORDER.* FROM TB_COUPON_ORDER,TB_COUPON
                 WHERE
                     TB_COUPON.COUPONID = TB_COUPON_ORDER.ORDERCOUID
                   AND TB_COUPON.COURESTID=#{id}
    </select>

</mapper>